.navbar {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 11px #00000014;
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 555;
}
.logo {
  display: flex;
  align-items: center;
}
.h1 {
  color: #0597ff;
}
.searchBar_Navbar {
  background-color: #80808026;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  margin-left: 1rem;
  align-items: center;
}
.input {
  margin-left: 1rem;
  background: transparent;
  outline: none;
  border: 0;
}
.user {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.user_image {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.menu_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}

@media (max-width:768px) {
  .input{
    width: 0;
    margin: 0;
  }
  .user{
    display: none;
  }

}

@media (max-width:650px) {
  .display{
    display: none;
  }
}